.nonpadding {
    padding:0;
}
.addSection {
    width: 100%;
    display: block;
    padding: 10px;
    background: #5e5e5e;
    border-radius: 7px;
    text-align: center;
    margin-bottom: 20px;
    color: #FFFFFF;
    cursor: pointer;
}
.section {
    padding:10px;
    background: #5e5e5e;
    border-radius: 7px;
    margin-bottom: 10px;
}
.sectionInfo {
    display: block;
    background: #5e5e5e;
    position: relative;
    border-radius: 7px;
    text-align: center;
    margin-bottom: 20px;
    color: #FFFFFF;
}

ul {
    padding:0;
}

.sectionTextArea {
    display:none;
}
.glyphicon {
    font-size: 20px;
}

ul.sortUl > li.active {
    background: #d1d1d1;
}
ul.ui-sortable > li {
    cursor: pointer;
    list-style-type: none;
    padding: 10px;
    width: 100%;
    background: #EEEEEE;
    margin-bottom: 10px;
    border-radius: 7px;
}
.rightButtons {
    float:right;
}
.rightButtons > a {
    cursor: pointer;
    margin-right: 4px;
}

a.delt {
    color:#444444 !important;
}

