
.posRel {
    position: relative;
}

.page-section {
    width: 100%;
    padding-bottom: 50px;
    border-right: 10px solid #fff;
}



.page-section h1 {
    font-size: 4em;
    margin: 50px 0;
    color: black;
}

.page-section h1 span {
    font-weight: 200;
}

.page-section h2.pjpae {
    font-size: 3em;
    font-weight: 900;
    color: #4c594d;
    margin: 0 0 30px;
    padding-left: 20px;
    padding-bottom: 5px;
    border-left: 2px solid #5e5e5e;
}

.page-section p {
    font-size: 1.2em;
    font-weight: 200;
    margin: 0 25% 20px 0;
}

.page-section p.lead {
    font-size: 1.8em;
}

.page-section p.caption {
    color: #fff;
    padding: 20px;
    text-shadow: 1px 1px 1px #000;
}

.nav-stacked > li {
    background: rgba(217, 217, 217, 0.69);
    color: white;
}

.nav-stacked > li > a {
    color: #727272;
    font-weight: bolder;
}

.nav-stacked > li:hover {
    background: none;
}

.nav-stacked > li:hover > a {
    color: #4c594d;

}

.nav-stacked > li > a.active {
    background: #afb7af;
}

.documentationTitle {
    margin-bottom: 15px;
    font-size: 24px;
    font-weight: bolder;
    padding: 60px;
    text-align: center;
    background: #e0e0e0;
    color: #29413c;
}

.documentationInfo {
    border-bottom: 1px solid #000;
    padding-bottom: 15px;
    margin-bottom: 25px;
}

.bs-callout {
    padding: 20px;
    border: 1px solid #eee;
    border-left-width: 5px;
    border-radius: 3px;
    overflow: hidden;
}

.bs-callout h2 {
    margin-top: 0;
    margin-bottom: 5px;
}

.bs-callout p:last-child {
    margin-bottom: 0;
}

.bs-callout code {
    border-radius: 3px;
}

.bs-callout + .bs-callout {
    margin-top: -5px;
}

.bs-callout-default {
    border-left-color: #b5b5b5;
}

.bs-callout-default h2 {
    color: #777;
}

.bs-callout-primary {
    border-left-color: #428bca;
}

.bs-callout-primary h2 {
    color: #428bca;
}

.bs-callout-success {
    border-left-color: #5cb85c;
}

.bs-callout-success h2 {
    color: #5cb85c;
}

.bs-callout-danger {
    border-left-color: #d9534f;
}

.bs-callout-danger h2 {
    color: #d9534f;
}

.bs-callout-warning {
    border-left-color: #f0ad4e;
}

.bs-callout-warning h2 {
    color: #f0ad4e;
}

.bs-callout-info {
    border-left-color: #5bc0de;
}

.bs-callout-info h2 {
    color: #5bc0de;
}

@media (min-width: 1200px) {
    .header .navbar-brand {
        padding-left: 0;
    }
    .nav-stacked {
        z-index: 9999;
        width:285px;
    }
    .navbar-nav {
        float: right;
    }
}
@media (min-width: 768px) {
    .header .navbar-brand {
        padding-left: 0;
    }

    .navbar-nav {
        float: right;
    }
}

@media (max-width: 480px) {
    .page-section h1 {
        font-size: 3em;
    }

    .page-section h2 {
        font-size: 2em;
    }

    .page-section p {
        font-size: 1em;
        margin: 0 0 20px;
    }
}
